@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for chat */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Chat widget header h3 margin */
#peleman-chatbot-root h3 {
    margin-top: 10px;
}